<%= form_with(model: notify_message, local: true) do |form| %>
  <% if notify_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notify_message.errors.count, "error") %> prohibited this notify_message from being saved:</h2>

      <ul>
      <% notify_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :contents %>
    <%= form.text_field :contents %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
