<p id="notice"><%= notice %></p>

<h1>Notify Messages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Contents</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notify_messages.each do |notify_message| %>
      <tr>
        <td><%= notify_message.title %></td>
        <td><%= notify_message.contents %></td>
        <td><%= link_to 'Show', notify_message %></td>
        <td><%= link_to 'Edit', edit_notify_message_path(notify_message) %></td>
        <td><%= link_to 'Destroy', notify_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notify Message', new_notify_message_path %>
